@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.column{
  position: relative;
  float: left;
  left: 10rem;
  width: 50rem;
  height: 50rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.heading1{
  position: relative;
  text-align: left;
}

.cusName{
  font-style: normal;
  text-align: left;
  font-size: 20px;
}

.custom-field {
    position: relative;
    left: 10rem;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
}
  
.custom-field input {
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    width: 15.5rem;
    height: 3rem;
    outline: none;
    font-size: 14px;
}
  
.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 26px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
}
  
.custom-field.one input {
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}
  
.custom-field.one input + .placeholder {
    left: 8px;
    padding: 2px;
}
  
.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
    border-color: #222;
    transition-delay: 0.1s
}
  
.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
    top: 0;
    font-size: 10px;
    color: #222;
    background: #fff;
    width: auto
  }

.fileFormat{
  text-align: left;
  font-style: normal;
  font-size: 20px;
  font-weight:bold;
  color: #000000;
  margin-top: 5rem;
  float:left;
}

.dropDown{
  position: relative;
  width: 15rem;
  height: 3rem;
  top: 4.5rem;
  left: 7rem;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
  border-radius: 8px;
  --border-width: 0px;
  float:left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.from{
  text-align: left;
  font-style: normal;
  font-size: 20px;
  font-weight:bold;
  color: #000000;
  margin-top: 12rem;
  clear: both;
}

input.startdate{
  position: relative;
  background: #ffffff;
  position: absolute;
  width: 15rem;
  left: 22rem;
  top: 25rem;
  padding: 15px;
  transform: translate(-50%,-50%);
  font-family: monospace;
  color: #000000;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.to{
  text-align: left;
  font-style: normal;
  font-size: 20px;
  font-weight:bold;
  color: #000000;
  margin-top: 5rem;
  clear: both;
}

input.Enddate{
  position: relative;
  background: #ffffff;
  position: absolute;
  width: 15rem;
  top: 32rem;
  left: 22rem;
  padding: 15px;
  transform: translate(-50%,-50%);
  font-family: monospace;
  color: #000000;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.antdCheck{
  text-align: left;

}

.device{
  text-align: left;
  font-style: normal;
  font-size: 20px;
  font-weight:bold;
  color: #000000;
  margin-top: 1rem;
  float:left;
}

.station{
  text-align: left;
  font-style: normal;
  font-size: 20px;
  font-weight:bold;
  color: #000000;
  margin-top: 5rem;
}
