/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #23232e;
  --text-secondary: #141418;
  --bg-primary: #ececec;
  --bg-secondary: #1289FF;
  --transition-speed: 600ms;
  --nav-width: 6rem;
}

body {
  color: black;
  background-color: white;
  margin: 0rem;
  padding: 0rem;
}


main {
  margin-left: var(--nav-width); 
  padding: 1rem;
}

.navbar {
  z-index: 1000;
  padding-left: 0.5rem; /* self add */
  position: fixed;
  left: 0;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 110%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 6rem; /*nav icon size */
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: #000000;
}

/* change color of text when hover */
.nav-color:hover .link-text {
  color: #ffffff;
}

/* change color of icon when hover */
.nav-color:hover .fa-secondary {
  color: #ffffff;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ffffff;
}

.fa-secondary {
  color: #1289FF;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
  text-align: center;
  color: var(--bg-primary);
  background: var(--bg-secondary);
  font-size: 1.2rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  margin-left: 1rem;
  color: #ffffff;
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: var(--nav-width);
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

