* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  background: #ffffff;
  min-height: 720px;
  min-width: 320px;
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  height: 100%;
}

/* #root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
} */

.bgUserProfile{
  background-size: 100% 25rem;
  height: 25rem;
  width: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.logoUserProfile {
  position: absolute;
  left: 24rem;
  top: 6rem;
}

.titleUserProfile {
  display: inline;
  font-size: x-large;
  font-weight: 1000;
}

.itemBox,
.itemBoxEdit {
  height: 35rem;
  width: 85rem;
  position: absolute;
  left: 24rem;
  top: 13rem;
  display: flex;
  background-color: #F3F7FB;
  border-radius: 16px;
}
.itemBoxEdit {
  width: 58rem;
}

.titleItemBox,
.titleItemBoxEdit {
  position: absolute;
  left: 3.5rem;
  top: 2.5rem;
  display: inline;
  font-size: x-large;
  font-weight: 800;
}

.errmsgAdmin {
  position: absolute;
  left: 4rem;
  top: 20rem;
}

.mainUserProfile,
.mainUserProfileEdit,
.mainUserProfileDown {
  border-radius: 4px;
  max-width: 50rem;
  display: block;
  text-align: left;
  width: 100%;
  position: absolute;
  left: 5rem;
  top: 5.5rem;
}

.mainUserProfile {
  max-height: 23rem;
  overflow-y: auto;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

.mainUserProfileEdit,
.mainUserProfileDown {
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
}
/* .mainUserProfileLeft > .form {
  margin-bottom: 98px;
} */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0rem;
}

.adminTable,
.adminTableTitle {
  padding: 8px;
  text-align: left;
}
.adminTableTitle {
  background-color: #f2f2f2;
  color: #1D3A98;
  position: sticky;
  top: 0;
  z-index: 100;
  -webkit-position: sticky;
  -webkit-sticky: top;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.adminTable {
  border: 1px solid #ccc;
  border-left: none;
  border-bottom: none;
  color: #000000;
}

.infoBox {
  margin-left: 0rem;
  margin-bottom: 1rem;
  padding-left: 0px;
  padding-right: 30px;
  width: 400px;
}
.infoBox:nth-last-child(-n + 2) {
  margin-bottom: 0.5rem;
}
.infoBox > label,
.infoBox > input {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  max-width: 380px;
  text-align: left;
  width: 100%;
}
.infoBox > label {
  color: #000000;
  margin-bottom: 5px;
}
.infoBox > input {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  color: #616161;
  font-size: 16px;
  height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: all 0.3s;
}
.infoBox > input:focus {
  background: #fff;
  border-color: #c4c4c4;
}
.infoBox > input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}

.usernameAdmin {
  position: absolute;
  left: 27rem;
  top: 52rem;
}

.backAdmin,
.editAdmin,
.downloadAdmin,
.uploadAdmin,
.deleteAdmin,
.permitAdmin,
.downAdmin,
.upAdmin {
  height: 1rem;
  width: 23.5rem;
  position: absolute;
  left: 27rem;
  top: 52rem;
  margin-bottom: 5px;
}
.backAdmin:nth-last-child(-n + 2),
.editAdmin:nth-last-child(-n + 2),
.downloadAdmin:nth-last-child(-n + 2),
.uploadAdmin:nth-last-child(-n + 2),
.deleteAdmin:nth-last-child(-n + 2),
.permitAdmin:nth-last-child(-n + 2),
.downAdmin:nth-last-child(-n + 2),
.upAdmin:nth-last-child(-n + 2) {
  margin-bottom: 10px;
}

.editAdmin {
  left: 3.25rem;
  top: 30.25rem;
}

.downloadAdmin {
  left: 31.25rem;
  top: 30.25rem;
}

.uploadAdmin {
  left: 59.25rem;
  top: 30.25rem;
}

.permitAdmin {
  left: -0.75rem;
  top: 19.56rem;
}

.deleteAdmin {
  left: 27.25rem;
  top: 19.56rem;
}

.downAdmin {
  left: 27.25rem;
  top: 22.6rem;
}

.upAdmin {
  left: 27.25rem;
  top: 21.95rem;
}

button.secondaryBackAdmin,
button.secondaryEditAdmin,
button.secondaryDownloadAdmin,
button.secondaryUploadAdmin,
button.secondaryDeleteAdmin,
button.secondaryPermitAdmin,
button.secondaryDownAdmin,
button.secondaryUpAdmin {
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 420px;
  outline: 0;
  padding: 10px 0;
  transition: background 0.3s;
  width: 5rem;
  margin: 0 auto;
  background: #ffffff;
  color: #ffffff;
  border-color: #87878700;
  border-width: 1px;
  border-style: solid;
  font-size: 15px;
  width: 100%;
}

button.secondaryBackAdmin {
  background: #1289FF;
}
button.secondaryEditAdmin {
  background: #8578AA;
}
button.secondaryDownloadAdmin {
  background: #14a04e;
}
button.secondaryUploadAdmin,
button.secondaryUpAdmin {
  background: #386bda;
}
button.secondaryDeleteAdmin {
  background: #f13333;
}
button.secondaryPermitAdmin,
button.secondaryDownAdmin {
  background: #14a04e;
}

button.secondaryBackAdmin:hover,
button.secondaryEditAdmin:hover,
button.secondaryDownloadAdmin:hover,
button.secondaryUploadAdmin:hover,
button.secondaryDeleteAdmin:hover,
button.secondaryPermitAdmin:hover,
button.secondaryDownAdmin:hover,
button.secondaryUpAdmin:hover  {
  background: #0f65bb;
  color: #ffffff;
  border-color: #ffffff00;
  
}

button.secondaryEditAdmin:hover {
  background: #554d6d;
}
button.secondaryDownloadAdmin:hover {
  background: #0e6934;
}
button.secondaryUploadAdmin:hover,
button.secondaryUpAdmin:hover {
  background: #203d7c;
}
button.secondaryDeleteAdmin:hover {
  background: #a12323;
}
button.secondaryPermitAdmin:hover,
button.secondaryDownAdmin:hover {
  background: #0e6934;
}

.editAdminPage {
  text-decoration: none;
}