@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Kantumruy+Pro:wght@500&family=Kantumruy:wght@700&family=Public+Sans:wght@800;900&family=Roboto:wght@500;700&display=swap');
.stationbar {
  position: relative;
    width: 11.125rem;
    height: 53.4375rem;
    top: 4.375rem;
    margin-left: 18rem;
    padding: 2rem;
    border-color: rgb(0, 0, 0);
    background: #F7F9FB;
    border-radius: 1rem;
  }

  .Select_Data{
    position: absolute;
    width: 33.1875rem;
    height: 3.625rem;
    left: 32.875rem;
    top: 32.875rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.625rem;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: #000000;

}

/* .LineChart {
  position: absolute;
  width: 11.4375rem;
  height: 10.6875rem;
  left: 21.875rem;
  border-radius: 1.5625rem;
  background: #1289FF;
  top: 31.5rem;
} */

.transparent-button1 {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;

  position: absolute;
  width: 11.4375rem;
  height: 10.6875rem;
  left: 21.875rem;
  top: 31.5rem;

  border-radius: 1.5625rem;
}

.transparent-button2 {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;

  position: absolute;
  width: 11.4375rem;
  height: 10.6875rem;
  left: 42.5rem;
  top: 31.5rem;

  border-radius: 1.5625rem;
}

.transparent-button3 {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;

  position: absolute;
  width: 11.4375rem;
  height: 10.6875rem;
  left: 63.125rem;
  top: 31.5rem;

  border-radius: 1.5625rem;
}

.BB1{
  position: absolute;
  width: 11.4375rem;
  height: 10.6875rem;
  left: 21.875rem;
  top: 31.5rem;

  background: #1289FF;
  border-radius: 1.5625rem;
}

.BB2{
  position: absolute;
  width: 11.4375rem;
  height: 10.6875rem;
  left: 42.5rem;
  top: 31.5rem;

  background: #1289FF;
  border-radius: 1.5625rem;
}

.BB3{
  position: absolute;
  width: 11.4375rem;
  height: 10.6875rem;
  left: 63.125rem;
  top: 31.5rem;

  background: #1289FF;
  border-radius: 1.5625rem;
}

.AiOutlineLineChart{
  position: absolute;
  width: 6.25rem;
  height: 5.625rem;
  left: 23.75rem;
  top: 33.125rem;
  color: white;
}

.GiHistogram{
  position: absolute;
  width: 6.25rem;
  height: 5.625rem;
  left: 44.375rem;
  top: 33.125rem;
  color: white;
}

.RiWindyFill{
  position: absolute;
  width: 6.25rem;
  height: 5.3125rem;
  left: 64.625rem;
  top: 33.125rem;
  color: white;
}

.RiWindyFill_Text{
  position: absolute;

  height: 5.625rem;
  left: 67.0625rem;
  top: 39.5625rem;

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.02875rem;
  text-transform: uppercase;

  color: #FFFFFF;
}

.GiHistogram_Text{
  position: absolute;

  height: 5.625rem;
  left: 46.4375rem;
  top: 39.5625rem;

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.02875rem;
  text-transform: uppercase;

  color: #FFFFFF;
}

.LineChart_Text{
  position: absolute;

  height: 5.625rem;
  left: 25.8125rem;
  top: 39.5625rem;

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.625rem;
  /* identical to box height, or 162% */

  letter-spacing: 0.02875rem;
  text-transform: uppercase;

  color: #FFFFFF;
}

.QustionMark{
    position: absolute;
    height: 1.125rem;
    left: 21.875rem;
    top: 6.25rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25rem;

    display: flex;
    align-items: center;

    color: #000000;
}

.WhichStation{
  left: 21.875rem;
  position: absolute;
  top: 13.75rem;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  color: #000000;

}

.drop-down2{
    z-index: 1;
    position: absolute;
    left: 37.5rem;
    top:12.9rem;
    height: 2.9rem;
    align-items: center;
    background: #FFFFFF;
    font-weight: 500;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    --border-width: 0rem;
    margin-bottom: 0px;
}

.WhichVariable{
  left: 21.875rem;
  position: absolute;
  top: 20rem;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  color: #000000;
}

.drop-down3{
  z-index: 1;
  position: absolute;
  left: 37.5rem;
  top:20rem;
  height: 2.9rem;
  align-items: center;
  background: #FFFFFF;
  font-weight: 500;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  --border-width: 0rem;
  margin-bottom: 0px;
}

.WhichPlot{
  position: absolute;
  width: 33.1875rem;
  height: 2.25rem;
  left: 21.875rem;
  top: 26.25rem;

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.25rem;
  display: flex;
  align-items: flex-end;

  color: #000000;
}

.From{
  font-family: 'Public Sans';
  font-style: normal;
  position: absolute;
  font-weight: 700;
  font-size: 1.25rem;
  left:21.875rem;
  top: 46.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;

  color: #000000;
}

.To{
  font-family: 'Public Sans';
  font-style: normal;
  position: absolute;
  font-weight: 700;
  font-size: 1.25rem;
  left:56.25rem;
  top: 46.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;

  color: #000000;
}

input.startdate1{
  position: absolute;
  background: #ffffff;
  width: 15rem;
  left: 11.5rem;
  top: 47.5rem;
  left:40.625rem;
  transform: translate(-50%,-50%);
  font-family: 'Public Sans';
  color: #000000;
  font-size: 0.9375rem;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

input.Enddate2{
  position: absolute;
  background: #ffffff;
  width: 15rem;
  left: 11.5rem;
  top: 47.4375rem;
  left:71.875rem;
  transform: translate(-50%,-50%);
  font-family: 'Public Sans';
  color: #000000;
  font-size: 0.9375rem;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.drop-down2{
  z-index: 1;
  position: absolute;
  left: 37.5rem;
  top:12.9rem;
  height: 2.9rem;
  align-items: center;
  background: #FFFFFF;
  font-weight: 500;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  --border-width: 0rem;
  margin-bottom: 0px;
}

.WhichName{
  position: absolute;
  width: 33.1875rem;
  height: 2.25rem;
  left: 21.875rem;
  top: 53.125rem;

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.25rem;
  display: flex;
  align-items: flex-end;

  color: #000000;
}

input.NameInput{
  flex-direction: row;
  padding: 1rem;
  gap: 0.75rem;
  width: 15.3125rem;
  position: absolute;
  height: 3.625rem;
  left:33.125rem;
  top: 52.5rem;
  background: #F9FAFB;
  border-radius: 1rem;
  border: none;
}

.NextButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  gap: 0.5rem;
  font-size: 0.9375rem;

  position: absolute;
  width: 6.6875rem;
  height: 3rem;
  left: 77.125rem;
  top: 57rem;

  background: #1289FF;
  border-radius: 0.625rem;
}

.LineChart,.WindRose,.HISTOGRAM{
  cursor: pointer;
  /* opacity:0.5; */
  /* z-index: 1; */
}
