@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Public+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Public+Sans:wght@400;500;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Public+Sans:wght@900&family=Roboto:wght@700&display=swap');

* { padding: 0; margin: 0; }
html, body, #root, main, #fullheight {
    min-height: 100%;
    height: 100%;
}

div.Scrollbar {
  overflow: auto;
  white-space: nowrap;
  overscroll-behavior-inline: contain;
  width: 100%;
  left:18.3125rem;
  width: 102.6875rem;
  height: 8.75rem;
  top: 12.5rem;
  position: absolute;
  max-width: 70rem;
  display: flex;
  flex-wrap: wrap;
}

.parent-element {
  display: flex;
}
.Scrollbar > * {
  display: inline-block;
}

.grey-block {
  width: 70rem;
  height: 4.0625rem;
  left: 18.3125rem;
  top: 4.0625rem;
  position:absolute;
  background: #F7F9FB;
  border-radius: 1rem;
  }

  .grey-block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 18.3125rem;
    top: 29rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .grey-block3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 18.3125rem;
    top: 34.5rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .grey-block4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 18.3125rem;
    top: 40rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .grey-block5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 18.3125rem;
    top: 45.5rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .grey-block6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 47.5rem;
    top: 29rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .grey-block7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 47.5rem;
    top: 34.5rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .grey-block8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 18.3125rem;
    top: 51.1rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .grey-block9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    position: absolute;
    width: 20.5rem;
    height: 4rem;
    left: 47.5rem;
    top: 40rem;

    background: #F3F7FB;
    border-radius: 1rem;
    transform: rotate(-0.03deg);
  }

  .Device-device{
    position: absolute;
    left: 2rem;
    top: 1.4rem;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #1C1C1C;
  }

  .Device-Overview{
    position: absolute;
    left: 28rem;
    top: 1.4rem;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #1C1C1C;
    margin:0px;
  }

  .Device-Graphs{
    position: absolute;
    left: 37.3rem;
    top: 1.4rem;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #1C1C1C;
  }

  .Device-Logs{
    position: absolute;
    left: 38.3rem;
    top: 1.5rem;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #1C1C1C;
  }

  .Device-SS{
    position: absolute;
    left: 18.3125rem;
    top: 9rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;
    color: #000000;

  }

  .Device-Info{
    position: absolute;
    left: 18.375rem;
    top: 26rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;
    color: #000000;
  }

  .Communcation{
    position: absolute;
    left: 48rem;
    top: 26rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;
    color: #000000;
  }

  .Plan_Number{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.0rem;
    left: 49.5rem;
    top: 30.3rem;
    color: #1D3A70;
  }

  .Plan_Start{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    left: 49.5rem;
    top: 35.7rem;
    color: #1D3A70;
  }

  .Frenquency{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    left: 49.5rem;
    top: 41.3rem;
    color: #1D3A70;
  }

  .Status{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    left: 20.8125rem;
    top: 30.3rem;
    color: #1D3A70;
  }

  .Memory{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    left: 20.8125rem;
    top: 35.7rem;
    color: #1D3A70;
  }

  .NickName{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    left: 20.8125rem;
    top: 41.3rem;
    color: #1D3A70;
  }

  .Serial_Number{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    left: 20.8125rem;
    top: 46.7rem;
    color: #1D3A70;
  }

  .LocationStation{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    left: 20.8125rem;
    top: 52.3rem;
    color: #1D3A70;
  }

 .drop-down{
    z-index: 1;
    position: absolute;
    left: 25.5rem;
    top:4.7rem;
    height: 2.5rem;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 0.875rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    --border-width: 0rem;
    margin-bottom: 0px;

  }

  .CiViewBoard{
    position: absolute;
    width: 1.5rem;
    height: 3.6rem;
    left: 26rem;
    top: 0.3rem;
    color: #1273de;
  }

  .iconBsGraphUp{
    position: absolute;
    width: 1.25rem;
    height: 3.6rem;
    left: 35rem;
    top: 0.3rem;
    color: #1273de;
  }

  .iconGrCatalog{
    position: absolute;
    width: 1.25rem;
    height: 3.5rem;
    left: 36rem;
    top: 0.4rem;
    color: #1273de;
  }

  .TbTemperature{
    position: absolute;
    width: 5.5rem;
    height: 5.0625rem;
    left: 5.9375rem;
    top: 3.75rem;
    color: white;
  }

  .WiHumidity{
    position: absolute;
    width: 5.5rem;
    height: 5.5625rem;
    left: 21.25rem;
    top: 3.75rem;
    color: #fdfdfd;
  }

  .FaRegSnowflake{
    position: absolute;
    width: 4.6875rem;
    height: 4.0625rem;
    left: 36.25rem;
    top: 4.6875rem;
    color: #fdfdfd;
  }

  .FaWind{
    position: absolute;
    width: 3.75rem;
    height: 5.0625rem;
    left: 51.875rem;
    top: 4.25rem;
    color: #fdfdfd;
  }

  .FaDirections{
    position: absolute;
    width: 3.75rem;
    height: 5.0625rem;
    left: 66.875rem;
    top: 4.6875rem;
    color: #fdfdfd;
  }

  .FaRadiation{
    position: absolute;
    width: 3.75rem;
    height: 5.0625rem;
    left: 81.875rem;
    top: 4.6875rem;
    color: #fdfdfd;
  }

  .FaRadiation2{
    position: absolute;
    width: 3.75rem;
    height: 5.0625rem;
    left: 1111.5625rem;
    top: 4.6875rem;
    color: #fdfdfd;
  }

  .FaRadiation3{
    position: absolute;
    width: 3.75rem;
    height: 5.0625rem;
    left: 126.4375rem;
    top: 4.6875rem;
    color: #fdfdfd;
    z-index: 1;
  }

  .FaRadiation4{
    position: absolute;
    width: 3.75rem;
    height: 5.0625rem;
    left: 141.5rem;
    top: 4.6875rem;
    color: #fdfdfd;
    z-index: 1;
  }

  .GiBattery75{
    position: absolute;
    width: 3.75rem;
    height: 5.0625rem;
    left: 96.25rem;
    top: 4.1875rem;
    color: #fdfdfd;
  }

 .blue-block{
    position: absolute;
    width: 11.0625rem;
    height: 8.125rem;
    background:
    rgba(18, 137, 255, 1);
    border-radius: 1.5625rem;

 }

 .blue-block2{
    position: absolute;
    width: 11.0625rem;
    height: 8.125rem;
    left: 14.875rem;
    background: rgba(18, 137, 255, 0.69);
    border-radius: 1.5625rem;
 }

 .blue-block3{
    position: absolute;
    width: 11.0625rem;
    height: 8.125rem;
    left: 29.75rem;
    background: rgba(18, 137, 255, 1);
    border-radius: 1.5625rem;
 }

 .blue-block4{
    position: absolute;
    width: 11.0625rem;
    height: 8.125rem;
    left: 44.625rem;
    background: rgba(18, 137, 255, 0.69);
    border-radius: 1.5625rem;
 }

 .blue-block5{
  position: absolute;
  width: 11.0625rem;
  height: 8.125rem;
  left: 59.5rem;
  background: rgba(18, 137, 255, 1);
  border-radius: 1.5625rem;
  overflow-x: scroll;
  overflow-x: hidden;
 }

 .blue-block6{
  position: absolute;
  width: 11.0625rem;
  height: 8.125rem;
  left: 74.375rem;
  background: rgba(18, 137, 255, 0.69);
  border-radius: 1.5625rem;
  overflow-x: scroll;
  overflow-x: hidden;
 }

 .blue-block7{
  position: absolute;
  width: 11.0625rem;
  height: 8.125rem;
  left: 89.25rem;
  background: rgba(18, 137, 255, 1);
  border-radius: 1.5625rem;
  overflow-x: scroll;
  overflow-x: hidden;
 }

 .blue-block8{
  position: absolute;
  width: 11.0625rem;
  height: 8.125rem;
  left: 104.125rem;
  background: rgba(18, 137, 255, 0.69);
  border-radius: 1.5625rem;
  overflow-x: scroll;
  overflow-x: hidden;
 }

 .blue-block10{
  position: absolute;
  width: 11.0625rem;
  height: 8.125rem;
  left: 119rem;
  background: rgba(18, 137, 255, 1);
  border-radius: 1.5625rem;
  overflow-x: scroll;
  overflow-x: hidden;
 }

 .blue-block9{
  position: absolute;
  width: 11.0625rem;
  height: 8.125rem;
  left: 133.875rem;
  background: rgba(18, 137, 255, 0.69);
  border-radius: 1.5625rem;
  overflow-x: scroll;
  overflow-x: hidden;
 }

 .TbTemperature_Text{
    position: absolute;
    width: 10.875rem;
    height: 2.5625rem;
    left:0.9375rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    align-items: flex-end;

    color:white;
 }

 .TbTemperature_Text2{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 0.9375rem;
    top: 2.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.7rem;
    line-height: 1.75rem;
    display: flex;
    align-items: flex-end;

    color:white;
 }

 .RH_Text2{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 15.9375rem;
    top: 2.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.7rem;
    line-height: 1.75rem;
    display: flex;
    align-items: flex-end;

    color:white;
 }

 .RH_Text{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 15.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    align-items: flex-end;

    color:white;
 }

 .CgPinBottom_Text{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 30.75rem;
    top:0.9375rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .CgPinBottom_Text2{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 30.75rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .FaWind_Text{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 45.625rem;
    top: 0.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .FaWind_Text2{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 45.625rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.6rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .FaDirections_Text{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 60.4375rem;
    top: 0.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .FaDirections_Text2{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 60.4375rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .GiRadiations_Text{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 75.3125rem;
    top: 0.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .GiRadiations_Text2{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 75rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.4rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .GiBattery75_Text{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 90rem;
    top: 0.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .GiBattery75_Text2{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 90rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .GiRadiations_Text3{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 104.6875rem;
    top: 0.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }
  .GiRadiations_Text4{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 104.6875rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .GiRadiations_Text5{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 119.6875rem;
    top: 0.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
    z-index: 1;
  }

  .GiRadiations_Text6{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 119.6875rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
    z-index: 1;
  }

  .GiRadiations_Text7{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 134.5625rem;
    top: 0.9375rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

  .GiRadiations_Text8{
    position: absolute;
    width: 7rem;
    height: 2.5625rem;
    left: 134.375rem;
    top: 3.75rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    color:white;
  }

.hover{
    z-index: 1;
    height: 10%;
}
  .Text1:hover{
    background: #1289FF;
    border-radius: 1.5625rem;
    width: 6rem;
  }

  .Explanation{
    position: absolute;
    width: 45.625rem;
    height: 1.125rem;
    left: 18.4375rem;
    top: 23.125rem;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: left;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: rgba(0, 0, 0, 0.65);

  }